
<div class="container">

  <div class="row">
    <div>
      <img src="assets/data/dragontail-11.1.1/11.1.1/img/profileicon/{{userData.summoner.profileIconId}}.png">
    </div>
    <div class="'col-9">
      <h2> {{ userData.summoner.name }} <img height="100" width="100" src="assets/data/ranked-emblems/Emblem_{{userData.leagueEntry[0].tier}}.png"> </h2>
      
    </div>
  </div>

  <div class="row">
    <div class="col-3"> Wygrane: {{userData.leagueEntry[0].wins}} Przegrane: {{userData.leagueEntry[0].losses}}</div>
    <div class="col-9"> WinRatio: {{userData.leagueEntry[0].wins/(userData.leagueEntry[0].wins + userData.leagueEntry[0].losses) | percent}}</div>
  </div>

  <div class="row">
    <div class="col"><h3>Last 10 Games</h3></div>
  </div>
  <div class="row">
    <div class="col-2">
      Typ Gry: Ranked
      Kiedy: 13.12.12r
      Win/Lose: Win
      Długość gry: 12:14
    </div>
    <div class="col-3">
      <h2>6/6/6</h2>
      <h2>2.0:1</h2>
    </div>
    <div class="col-3">
      <h3>Items:</h3>
      <div class="row row-cols-4">
        <div class="col">1</div>
        <div class="col">2</div>
        <div class="col">3</div>
        <div class="col">Trinked</div>
        <div class="col">5</div>
        <div class="col">6</div>
        <div class="col">7</div>
      </div>
    </div>
    <div class="col-4">
      <div class="row row-col-2">
        <div class="col">
          Team Blue
          <div> player1</div>
          <div> player2</div>
          <div> player3</div>
          <div> player4</div>
          <div> player5</div>
        </div>
        <div class="col">
          Team Red
          <div> player6</div>
          <div> player7</div>
          <div> player8</div>
          <div> player9</div>
          <div> player10</div>
        </div>
      </div>
    </div>
  </div>
</div>

