
<div class="container">

  <div class="row">
    <div>
      <img height="100" width="100" src="assets/data/DragonTail/version/img/profileicon/{{userData.summoner.profileIconId}}.png">
    </div>
    <div class="'col-9">
      <h2> {{ userData.summoner.name }} </h2>
      <h5>LVL: {{userData.summoner.summonerLevel}}</h5> 
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-2">
      <p style="text-align:center">SOLO/DUO</p>
      <div *ngIf="userData.leagueEntry[0]; else soloEmblemElse">
        <img style="text-align:center" height="100" width="100" src="assets/data/ranked-emblems/Emblem_{{userData.leagueEntry[0].tier}}.png">
        <div>LP: {{userData.leagueEntry[0].leaguePoints}}</div>
      </div>
      <ng-template #soloEmblemElse>
        <img style="text-align:center" height="100" width="100" src="assets/data/ranked-emblems/Emblem_UNRANKED.png">
        <div>LP: 0</div>
      </ng-template>
    </div>
    <div class="col-2">
      <p style="text-align:center">FLEX</p>
      <div *ngIf="userData.leagueEntry[1]; else flexEmblemElse">
        <img style="text-align:center" height="100" width="100" src="assets/data/ranked-emblems/Emblem_{{userData.leagueEntry[1].tier}}.png">
        <div>LP: {{userData.leagueEntry[1].leaguePoints}}</div>
      </div>
      <ng-template #flexEmblemElse>
        <img style="text-align:center" height="100" width="100" src="assets/data/ranked-emblems/Emblem_UNRANKED.png">
        <div>LP: 0</div>
      </ng-template>
    </div>
  </div>

  <div class="row">
    <div class="col-3"> Wygrane: {{userData.leagueEntry[0].wins}} Przegrane: {{userData.leagueEntry[0].losses}}</div>
    <div class="col-9"> WinRatio: {{userData.leagueEntry[0].wins/(userData.leagueEntry[0].wins + userData.leagueEntry[0].losses) | percent}}</div>
  </div>

  <!--<div *ngFor="let match of matchHistory.matches">
    <div class="row">
      <div class="col-2">
        <ul>
          <li>
            {{matchHistory.matches[0].champion}}
            {{match.champion}}
          </li>
        </ul>
      </div>
    </div>
  </div>-->

  <div class="row">
    <div class="col"><h3>Last 5 Games</h3></div>
  </div>

  
  <div class="row p-2 bg-dark" *ngFor="let game of listOfMatchData,let i=index">
    <p> </p>
    <div class="col-2">
      <ul>
        <li>Typ Gry: {{listOfMatchData[i].gameMode}}</li>

        <li>Kiedy: {{matchDataTime[i]}}</li>
        <li>Win: {{correctSummoner[i].stats.win}}</li>
        <li>Długość gry: {{matchDataLong[i]}}</li>
      </ul>
    </div>
    <div class="col-3">
      <h6>kills / deaths / assists</h6>
      <h2>{{correctSummoner[i].stats.kills}} / {{correctSummoner[i].stats.deaths}} / {{correctSummoner[i].stats.assists}}</h2>

    </div>
    <div class="col-3">
      <h6>Items:</h6>
      <div class="row row-cols-4">
        
          <div class="col"><img height="40" width="40" src="assets/data/DragonTail/version/img/item/{{correctSummoner[i].stats.item0}}.png"></div>
          <div class="col"><img height="40" width="40" src="assets/data/DragonTail/version/img/item/{{correctSummoner[i].stats.item1}}.png"></div>
          <div class="col"><img height="40" width="40" src="assets/data/DragonTail/version/img/item/{{correctSummoner[i].stats.item2}}.png"></div>
          <div class="col"><img height="40" width="40" src="assets/data/DragonTail/version/img/item/{{correctSummoner[i].stats.item3}}.png"></div>
          <div class="col"><img height="40" width="40" src="assets/data/DragonTail/version/img/item/{{correctSummoner[i].stats.item6}}.png"></div>
          <div class="col"><img height="40" width="40" src="assets/data/DragonTail/version/img/item/{{correctSummoner[i].stats.item4}}.png"></div>
          <div class="col"><img height="40" width="40" src="assets/data/DragonTail/version/img/item/{{correctSummoner[i].stats.item5}}.png"></div>
        
        </div>
      </div>
    <div class="col-4">
      <div class="row row-col-2">
        <div class="col text-primary">
            Team Blue:
            <div *ngFor="let participant of matchDataParticipants[i],let i=index">
              <div *ngIf="participant.teamId == 100">
                {{matchDataParticipantIdentities[0][i].player.summonerName}} 
              </div>
            </div>
        </div>
        <div class="col text-danger">
          Team Red:
          <div *ngFor="let participant of matchDataParticipants[i],let i=index">
            <div *ngIf="participant.teamId == 200">
              {{matchDataParticipantIdentities[0][i].player.summonerName}}
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
  <p>
      
  </p>
  </div>

