<h1>account</h1>

<h2>{{ userData.summoner.id }}</h2>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="userData.summoner">
  <thead>
    <tr>
      <th>Id</th>
      <th>Puuid</th>
      <th>Account ID</th>
      <th>Profile Icon</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ userData.summoner.id }}</td>
      <td>{{ userData.summoner.puuid }}</td>
      <td>{{ userData.summoner.accountId }}</td>
      <td>{{ userData.summoner.profileIconId }}</td>
    </tr>
  </tbody>
</table>
